Container {
  padding: 25%;
  margin: 25%;
}

Card {
  border-radius: 25px;
  padding: 9%;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);

  /* Exclusion blend */
  background-blend-mode: exclusion;

  /* Color/tint overlay + Opacity */
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 11px 10px 57px -4px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 11px 10px 57px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 11px 10px 57px -4px rgba(0, 0, 0, 1);
  text-shadow: 12px 15px 25px rgba(0, 0, 0, 1);
}
Card.Title {
  text-shadow: 17px 14px 50px rgba(0, 0, 0, 1);
  backdrop-filter: blur(50px);
  background-blend-mode: exclusion;
}
Card.Text {
  text-shadow: 17px 14px 50px rgba(0, 0, 0, 1);
  backdrop-filter: blur(50px);
  background-blend-mode: exclusion;
}
.Card-txt {
  text-shadow: 12px 15px 25px rgba(0, 0, 0, 1);
  backdrop-filter: blur(50px);
  background-blend-mode: exclusion;
}
