.card {
  border-radius: 25px;
  backdrop-filter: blur(50px);
  box-shadow: 11px 10px 57px -4px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 11px 10px 57px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 11px 10px 57px -4px rgba(0, 0, 0, 1);
  background-blend-mode: exclusion;
  /* padding: 9%; */
  /* margin: 9%; */
}
