#hero {
  background-image: url("https://images.unsplash.com/photo-1500835556837-99ac94a94552?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
  min-height: 95vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 40% 100%, 0 80%);
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
}
.heroIMG {
  width: 80%;
  align-content: center;
  align-items: center;
  align-self: center;
  place-content: center;
  place-items: center;
  place-self: center;
  border-radius: 15px;
  box-shadow: 11px 10px 57px -4px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 11px 10px 57px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 11px 10px 57px -4px rgba(0, 0, 0, 1);
}
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    justify-content: around;
    align-items: center;
    align-self: center;
  }
  .heroIMG {
    width: 55%;
    align-content: center;
    align-items: center;
    align-self: center;
    place-content: center;
    place-items: center;
    place-self: center;
    margin-left: 25%;
  }
  .hero-md {
    width: 100%;
  }
  #hero {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%, 0 100%);
  }
}
