.navbar {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 9, 0.4458158263305322) 100%,
    rgba(0, 0, 6, 0.4150035014005602) 100%
  );
  /* border-radius: 25px;  */
  backdrop-filter: blur(50px);
  box-shadow: 11px 10px 57px -4px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 11px 10px 57px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 11px 10px 57px -4px rgba(0, 0, 0, 1);
  background-blend-mode: exclusion;
  padding: 9%;
  /* text-shadow: 5px 1px 3px rgba(150, 150, 150, 1); */
  position: fixed;
  top: 0;
  width: 100%;
  position: relative;
  z-index: 1000;
}
